footer.main-footer
  .container
    .row.align-items-center
      .col.main-footer__address
        p Самовывоз: г. Москва, ул. Нижние Мневники, д.13, стр. 4 
        br
        p <a href="mailro:info@pironet.ru">E-MAIL: info@pironet.ru</a>
      .col-auto.main-footer__logo
        a(href="#").footer-logo.off-link: img(src="img/main-logo.png", alt="Большой праздник").header-logo__img
      .col
        p: a(href="tel: +78002009223") +7 (800) 200-92-23
        br
        p © Большой праздник, 2002–2018