mixin about-block
  .container.content
    .row
      .col-6.mb-4
        .h.h_small.d-flex.align-items-center
          .h-steps.mr-1
            i.icm.icm-circle
            span 1
          span ШИРОКАЯ <br> ЛИНЕЙКА <br> ПРОДУКЦИИ
        ul.ul.ul_line
          li Более 400 различных видов пиротехнических изделий ведущих брендов.
          li Доступное качество: в каждой категории фейерверков представлены товары от самых недорогих до элитных.        
      .col-6.mb-4
        .h.h_small.d-flex.align-items-center
          .h-steps.mr-1
            i.icm.icm-circle
            span 3
          span БЕЗОПАСНОСТЬ <br> И КАЧЕСТВО
        ul.ul.ul_line
          li Никакого контрафакта! Вся продукция прошла официальную сертификацию в уполномоченных государственных органах.
          li На каждое изделие нанесена полная информация о правилах безопасного использования.
      .col-6.mb-4
        .h.h_small.d-flex.align-items-center
          .h-steps.mr-1
            i.icm.icm-circle
            span 2
          span УДОБСТВО <br> В ИСПОЛЬЗОВАНИИ <br> САЙТА
        ul.ul.ul_line
          li Уникальный "движок" одинаково удобен в использовании на экранах мониторов, планшетов, смартфонов.
          li Все операции можно производить не только мышью, но и просто пальцами.
      .col-6.mb-4
        .h.h_small.d-flex.align-items-center
          .h-steps.mr-1
            i.icm.icm-circle
            span 4
          span ВСЕРОССИЙСКИЙ <br> ОХВАТ
        ul.ul.ul_line
          li Около 90 городов присутствия.
          li Никаких сторонних служб доставки. Всю работу по ведению заказа от созвона с покупателем и до доставки заказа до дверей мы делаем сами.