extends templates/_default

block head
  title About

block header
  +header

block main
  .container.mb-2
    +catalog-nav
  +about-block
  .container.content.mb-6
    +content-section('Интернет-магазин <br> фейерверков <br> Пиронет.ру').mb-4
      p Интернет-магазин Пиронет является эксклюзивным представителем компании «Большой праздник» в интернете. Компания «Большой праздник» в была основана в 1993 году, и главное, что осталось неизменным за 25 лет работы, – любовь к пиротехнике! Мы все так же преданы любимому делу, несмотря на необходимость получения специальных разрешений и сертификатов, сложности с хранением и транспортировкой продукции, непредсказуемую экономическую ситуацию в стране. Наша компания – неоднократный победитель российских и международных фестивалей фейерверков, участник церемоний открытия и закрытия спортивных мероприятий международного уровня, профессиональных и городских праздников, мероприятий в честь Дня Великой Победы. Также мы уже не первый год входим в состав Московской пиротехнической ассоциации и российской – «РАПИД-Фейерверк».
      p «Большой праздник» располагает собственной сетью сертифицированных магазинов и представительств по всей России – это около 300 торговых розничных точек в более чем 100 городах РФ. Среди них: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Воронеж, Барнаул, Казань, Ханты-Мансийск и многие-многие другие. Интернет магазин реализует всевозможные виды пиротехники, оформленные в фирменную красочную упаковку, протестированные на безопасность эксплуатации и разрешенные к розничной продаже. С 1996 года мы поставляем специально разработанные для российского рынка пиротехнические изделия под собственной торговой маркой.
      p Ассортимент пиротехники постоянно расширяется и обновляется. В онлайн магазине предлагается большой выбор пиротехники: более 400 видов разнообразных салютов. Каталог магазина «Большой праздник» включает в себя весь спектр бытовых пиротехнических изделий. У нас вы найдете фейерверки под любые запросы и рамки бюджета, от недорогих хлопушек и наземных фейерверков для семейных событий до мощных ракет и батарей салютов для масштабных мероприятий. С нашей продукцией вы сможете любой праздник превратить в поистине незабываемое торжество, и даже обычный скучный вечер оживить яркими огнями и всполохами разноцветных фейерверков!
    .note-block
      p.m-0.color-muted-200 Обработку безналичных заказов и поддержку оплаты по пластиковым картам для сайта www.pironet.ru осуществляет
      p.m-0.color-muted-200 ООО «СалютМаркет». ИНН: 7718849763
      p.m-0.color-muted-200 Юридический адрес: 107392, Москва, улица Лермонтовская, дом 17, строение 2.
block footer
  +footer