extends _template

block main
  main.home-main
    .container
      .row.mb-3
        .col-9
          .home-slider(data-slider="home" data-need="2").swiper-container
            .swiper-wrapper
              .swiper-slide.home-slider__item: img(src="img/home-slider-item.jpg", alt="Повод всегда найдется").img-responsive
              .swiper-slide.home-slider__item: img(src="img/home-slider-item.jpg", alt="Повод всегда найдется").img-responsive
              .swiper-slide.home-slider__item: img(src="img/home-slider-item.jpg", alt="Повод всегда найдется").img-responsive
              .swiper-slide.home-slider__item: img(src="img/home-slider-item.jpg", alt="Повод всегда найдется").img-responsive
            .swiper-pagination
        aside.col-3.home-main__actions
          ul.home-actions
            li.home-actions__item
              a(href="").home-action
                .home-action__image.home-action__image_ballons
                .home-action__content
                  p.home-action__title-before Товары для
                  p.home-action__title ДНЯ <br> РОЖДЕНИЯ
            li.home-actions__item
              a(href="").home-action
                .home-action__image.home-action__image_ring
                .home-action__content
                  p.home-action__title-before Товары для
                  p.home-action__title СВАДЕБНОГО <br> ТОРЖЕСТВА
            li.home-actions__item
              a(href="").home-action
                .home-action__image.home-action__image_box
                .home-action__content
                  p.home-action__title-before Товары для
                  p.home-action__title НОВОГО ГОДА
  .container.mb-2
    nav.catalog-nav
      ul.catalog-nav__list
        li.catalog-nav__item: a(href="#").catalog-nav__link Батареи салютов
        li.catalog-nav__item: a(href="#").catalog-nav__link Петарды
        li.catalog-nav__item: a(href="#").catalog-nav__link Бенгальские огни
        li.catalog-nav__item: a(href="#").catalog-nav__link Ракеты
        li.catalog-nav__item: a(href="#").catalog-nav__link Комбинированные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Римские свечи
        li.catalog-nav__item: a(href="#").catalog-nav__link Наземные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Фонтаны
        li.catalog-nav__item: a(href="#").catalog-nav__link Одиночные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Хлопушки
      a(href="catalog.html").catalog-nav__catalog 
        span Перейти <br> в каталог
        i.icm.icm-icon_right_arrow
  .offers-carousel
    .container(data-tabs)
      ul.offers-carousel__nav(data-nav data-active="offers-carousel__nav-item_active").mb-3
        li.offers-carousel__nav-item Новинки
        li.offers-carousel__nav-item Хиты
        li.offers-carousel__nav-item Рекомендуем
      .offers-carouse__main(data-content data-active="offers-carousel__main-item_active")
        -for(var j=0;j<3;j++)
          .offers-carousel__main-item
            .swiper-container(data-slider="carousel")
              .swiper-wrapper
                -for(var i=0;i<10;i++)
                  .swiper-slide.product-item
                    .product-item__image
                      img(src="img/product-item.png", alt="Веселый бит")
                      button.product-item__video
                        i.icm.icm-icon_video_player
                        span Видео
                      .product-item__discount Скидка 5%
                    .product-item__content
                      .product-item__name Веселый бит
                      ul.product-item__props.product-props
                        li.product-props__item
                          span.product-props__title Заряды
                          span.product-props__value 36 залпов
                        li.product-props__item
                          span.product-props__title Калибр
                          span.product-props__value 1 дюйма
                        li.product-props__item
                          span.product-props__title Время работы
                          span.product-props__value 45 сек.
                    .product-item__footer
                      .product-item__offer
                        .product-item__price 2 803 руб.
                        .product-item__price-old 3 803 руб.
                      a(href="#").product-item__btn КУПИТЬ
              .swiper-pagination
  section.container.content.mb-6
    .row
      .col-auto.ta-right
        h1.h.h_big Интернет-магазин <br> фейерверков <br> Пиронет.ру
      .col
        p Интернет-магазин Пиронет является эксклюзивным представителем компании «Большой праздник» в интернете. Компания «Большой праздник» в была основана в 1993 году, и главное, что осталось неизменным за 25 лет работы, – любовь к пиротехнике! Мы все так же преданы любимому делу, несмотря на необходимость получения специальных разрешений и сертификатов, сложности с хранением и транспортировкой продукции, непредсказуемую экономическую ситуацию в стране.
        p Наша компания – неоднократный победитель российских и международных фестивалей фейерверков, участник церемоний открытия и закрытия спортивных мероприятий международного уровня, профессиональных и городских праздников, мероприятий в честь Дня Великой Победы. Также мы уже не первый год входим в состав Московской пиротехнической ассоциации и российской – «РАПИД-Фейерверк».