extends templates/_default

block head
  title Home

block header
  +header

block main
  +home-main
  .container.mb-2
    +catalog-nav
  +offers-carousel
  .container.content.mb-6
    +content-section('Интернет-магазин <br> фейерверков <br> Пиронет.ру')
      p Интернет-магазин Пиронет является эксклюзивным представителем компании «Большой праздник» в интернете. Компания «Большой праздник» в была основана в 1993 году, и главное, что осталось неизменным за 25 лет работы, – любовь к пиротехнике! Мы все так же преданы любимому делу, несмотря на необходимость получения специальных разрешений и сертификатов, сложности с хранением и транспортировкой продукции, непредсказуемую экономическую ситуацию в стране.
      p Наша компания – неоднократный победитель российских и международных фестивалей фейерверков, участник церемоний открытия и закрытия спортивных мероприятий международного уровня, профессиональных и городских праздников, мероприятий в честь Дня Великой Победы. Также мы уже не первый год входим в состав Московской пиротехнической ассоциации и российской – «РАПИД-Фейерверк».
block footer
  +footer