extends templates/_default

block head
  title Security

block header
  +header

block main
  .container.mb-2
    +catalog-nav
  section.container.mb-6.content
    .row
      .col-12
        .h.h_small.d-flex.align-items-center
          .h-steps.mr-1
            i.icm.icm-circle
            span 8
          span правил <br> обращения <br> с пиротехникой
      .col-12
        ol.mb-2.columns-2
          li Использовать пиротехнику с дефектами: подмоченные или с различными повреждениями корпуса или фитиля!
          li Носить фейерверки в карманах, сжигать в костре, разбирать и подвергать их механическим воздействиям!
          li Развлекаться с пиротехническими изделиями в нетрезвом состоянии и курить рядом с ними!
          li Хранить рядом с нагревательными приборами!
          li Применять фейерверк под деревьями, линиями электропередачи и вблизи легковоспламеняющихся предметов!
          li Наклоняться над пиротехническим устройством в момент поджигания фитиля!
          li Несработавшее устройство поджигать повторно!
          li Применять детям без присутствия взрослых!
    .row
      .col
        p.h.h_big бЕЗОПАСНОСТЬ
        p Яркие бенгальские огни, шумные хлопушки с сюрпризом, праздничные разноцветные салюты в небе — без этого трудно представить новогодние и рождественские праздники. Так хочется порадовать этим сверкающим великолепием себя, своих близких и друзей! Но как сделать яркое зрелище безопасным?
        p.color-red.fw-500.fz-16 ВЫЧИСЛЯЕМ ПОДДЕЛКИ
        p Практически все виды фейерверков в той или иной степени опасны. Поэтому приобретать их нужно с особой осторожностью. К сожалению, нельзя опробовать фейерверк на месте покупки, поэтому чтобы убедиться в его качестве, следует тщательно осмотреть упаковку.
        ul
          li Прежде всего, упаковка должна быть целой. Если она бумажная, убедитесь, что изделие не подвергалось воздействию влаги. После «потопа» на бумаге остаются неровности, разводы краски. Подмокший фейерверк покупать не стоит, скорее всего, он не сработает. Убедитесь, что фейерверк не был поврежден в процессе транспортировки. На вытянутой руке слегка встряхните упаковку: если из неё высыпается порох — устройство было повреждено.
          li Обратите внимание на маркировку. Хотя большинство фейерверков произведено в Китае, на упаковке качественного товара обязательно указан номер ГОСТа, а также российский производитель или поставщик (продавец) товара. Если таких данных нет, то продукция реализуется «из-под полы», и приобретать её не следует.
          li К фейерверку обязательно прилагается инструкция по применению на русском языке. Это обязательное требование российского законодательства. Важная информация — срок годности. Не приобретайте изделия, на которых он не указан или истек.
          li Вся пиротехническая продукция подлежит сертификации. На сертифицированном товаре указан значок «Ростеста» (три буквы РСТ, в особом графическом исполнении). Сертификат качества хранится у продавца. Наряду с другой обязательной информацией, сертификат указывает на один из классов фейерверков, которые различаются по степени опасности и размеру действующей зоны (расстояние, на котором должны находиться зрители). Всего их пять: I класс — не более 0,5 метров (фейерверки для помещений: хлопушки, бенгальские свечи, настольные фонтаны); II класс — не более 5 метров (остальные фонтаны, петарды, наземные фейерверки); III класс — не более 20 метров (салюты, ракеты, фестивальные шары). К IV и V классу относятся профессиональные фейерверки, у которых радиус опасной зоны более 20 метров. Безопасное расстояние для каждого фейерверка обязательно должно быть указано в инструкции по применению. Чтобы не сомневаться в качестве и безопасности, покупать фейерверк надо только в фирменном магазине, а не на рынках, у метро или сомнительных торговцев. 
        p.color-red.fw-500.fz-16  МЕСТО ВСТРЕЧИ
        p Место для фейерверка надо выбрать заранее. Лучший вариант — большая открытая площадка, на которой в радиусе 10 метров не растут деревья и кусты, нет линий электропередачи, ночных фонарей. На этом участке не должно быть построек, а в радиусе 50 метров — стоянок машин, деревянных строений, гаражей. Немаловажно и то, где будут находиться члены вашей семьи и друзья. Ведь в первую очередь, нужно обеспечить безопасность зрителей, и только потом — хорошую видимость и комфорт. Первая задача решается отлично, если зрители находятся в 15-20 метрах от эпицентра огненного шоу, с наветренной стороны, чтобы зрелище не было омрачено запахом гари, и чтобы сверху не могли упасть некоторые несгоревшие части пиротехнических изделий. Обзор — тоже не проблема, если устроить фейерверк за городом, вдали от огней мегаполиса, и если не мешают деревья, столбы и высотные здания.
        
block footer
  +footer