mixin catalog-nav()
  nav.catalog-nav
      ul.catalog-nav__list
        li.catalog-nav__item: a(href="#").catalog-nav__link Батареи салютов
        li.catalog-nav__item: a(href="#").catalog-nav__link Петарды
        li.catalog-nav__item: a(href="#").catalog-nav__link Бенгальские огни
        li.catalog-nav__item: a(href="#").catalog-nav__link Ракеты
        li.catalog-nav__item: a(href="#").catalog-nav__link Комбинированные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Римские свечи
        li.catalog-nav__item: a(href="#").catalog-nav__link Наземные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Фонтаны
        li.catalog-nav__item: a(href="#").catalog-nav__link Одиночные салюты
        li.catalog-nav__item: a(href="#").catalog-nav__link Хлопушки
      a(href="catalog.html").catalog-nav__catalog 
        span Перейти <br> в каталог
        i.icm.icm-icon_right_arrow