mixin header()
  header
    .top-panel
      .container
        .row.top-panel__row
          .col-auto.d-flex.align-items-center
            .top-panel__city
              button.city-choise 
                span Москва
                i.icm.icm-icon_drop-down
            .top-panel__tel
              a(href="tel:+78002009223") +7 (800) 200-92-23
          .col.top-panel__ad
            span Бесплатная доставка при заказе от 3 000 руб.
          .col-auto.top-panel__account
            .top-account
              a(href="#").top-account__link.custom-link Вход
    .main-header
      .container
        .row.main-header__row
          .col-auto.main-header__logo
            a(href="#").header-logo.off-link: img(src="img/main-logo.png", alt="Большой праздник").header-logo__img
          .col-auto.main-header__main
            nav.main-header__nav
              ul.header-nav
                li.header-nav__item: a(href="#").header-nav__link.header-nav__link_active о компании
                li.header-nav__item: a(href="#").header-nav__link КАТАЛОГ
                li.header-nav__item: a(href="#").header-nav__link дОСТАВКА И ОПЛАТА
                li.header-nav__item: a(href="#").header-nav__link БЕЗОПАСНОСТЬ
                li.header-nav__item: a(href="#").header-nav__link контакты
            .main-header__search
              form(action="").header-search
                input(type="text").header-search__input
                button(type="submit").header-search__submit: i.icm.icm-icon_search
          .col.main-header__cart
            .header-cart
              .header-cart__content
                p.header-cart__sum Сумма: 2090 руб.
                p.header-cart__del-info До бесплатной доставки 910 руб.
              a(href="#").header-cart__icon: i.icm.icm-icon_shopping_cart
    