@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";

html{
  font-size: 62.5%;  
}

body{
  font-size: 1.6rem;
  font-family: $ff-primary;
  background-color: $muted-100;
  margin: 0;
  padding: 0;
  min-width: 768px;
}


/*-------------------------------------------------*/
/*  START: helpers */
/*-------------------------------------------------*/
@import '_helpers.scss';
/*-------------------------------------------------*/
/*  END: helpers */
/*-------------------------------------------------*/

/*=================================================*/
/*  START: elements */
/*=================================================*/
/*-------------------------------------------------*/
/*  START: header */
/*-------------------------------------------------*/
@import "../pug/blocks/header/header.scss";
/*-------------------------------------------------*/
/*  END: header */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: home */
/*-------------------------------------------------*/
@import "../pug/blocks/home-main/home-main.scss";
/*-------------------------------------------------*/
/*  END: home */
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/*  START: catalog-nav */
/*-------------------------------------------------*/
@import '../pug/blocks/catalog-nav/catalog-nav.scss';
/*-------------------------------------------------*/
/*  END: catalog-nav */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: product-item */
/*-------------------------------------------------*/
@import '../pug/blocks/product-item/product-item.scss';
/*-------------------------------------------------*/
/*  END: product-item */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: offers-carouse */
/*-------------------------------------------------*/
@import '../pug/blocks/offers-carousel/offers-carousel.scss';
/*-------------------------------------------------*/
/*  END: offers-carouse */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: footer */
/*-------------------------------------------------*/
@import "../pug/blocks/footer/footer.scss";
/*-------------------------------------------------*/
/*  END: footer */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: content */
/*-------------------------------------------------*/
@import "../pug/blocks/content/content.scss";
/*-------------------------------------------------*/
/*  END: content */
/*-------------------------------------------------*/

/*=================================================*/
/*  END: elements */
/*=================================================*/

/*-------------------------------------------------*/
/*  START: plugins */
/*-------------------------------------------------*/
@import '_plugins.scss';
/*-------------------------------------------------*/
/*  END: plugins */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: media */
/*-------------------------------------------------*/
@media screen and (max-width: 1229px){
  @include offers-carousel-lg;
  @include catalog-nav-lg;
  @include home-lg;
}

@media screen and (max-width: 991px){
  html{
    font-size: 55%;
  }
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .col, [class*="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row{
    margin-left: -1rem;
    margin-right: -1rem;
  }
  @include header-md;
  @include home-md;
  @include catalog-nav-md;
}

/*-------------------------------------------------*/
/*  END: media */
/*-------------------------------------------------*/